@import '../../css/Basic';

.tag {
    background: $gray;
    border: 1px solid $darkgray;
    border-radius: 100px;
    padding: calc($s-1 / 2) $s-2;
    box-shadow: 1px 1px 0 $black;
    color: $lightgray;

    &:hover {
        color: $white;
        cursor: default;
    }
}