@import '../../css/Basic/Basic';

.button {
    &-white {
        &::after {
            background-color: $white;
            border-color: $black;
        }
        &:hover::after { border-color: $black; }
    }
    &-pink {
        &::after {
            background-color: $pink;
            border-color: $white;
        }
        &:hover::after { border-color: $black; }
    }
    &-green {
        &::after {
            background-color: $green;
            border-color: $white;
        }
        &:hover::after { border-color: $black; }
    }
    &-gray {
        .text {
            color: $white;
        }
        &::after {
            background-color: $gray;
            border-color: $white;
        }
    }
    &-blue {
        &::after {
            background-color: $blue;
            border-color: $white;
        }
        &:hover::after { border-color: $black; }
    }
    &-yellow {
        &::after {
            background-color: $yellow;
            border-color: $white;
        }
        &:hover::after { border-color: $black; }
    }

    &-dark {
        &::before {
            background-color: $black;
            border-color: $white;
        }
    }
}

.go-link:after {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../../images/go-link.png');
}