<div className='bg-white p-4'>
    <Button url='https://twitter.com/naweskil' content='Twitter' classes='button-white' />
    <Button url='https://twitter.com/naweskil' content='Twitter' classes='button-pink' />
    <Button url='https://twitter.com/naweskil' content='Twitter' classes='button-blue' />
    <Button url='https://twitter.com/naweskil' content='Twitter' classes='button-green' />
    <Button url='https://twitter.com/naweskil' content='Twitter' classes='button-gray' />
    <Button url='https://twitter.com/naweskil' content='Twitter' classes='button-yellow' />
</div>
<Button url='https://twitter.com/naweskil' content='Twitter' classes='button-white button-dark' />
<Button url='https://twitter.com/naweskil' content='Twitter' classes='button-pink button-dark' />
<Button url='https://twitter.com/naweskil' content='Twitter' classes='button-blue button-dark' />
<Button url='https://twitter.com/naweskil' content='Twitter' classes='button-green button-dark' />
<Button url='https://twitter.com/naweskil' content='Twitter' classes='button-gray button-dark' />
<Button url='https://twitter.com/naweskil' content='Twitter' classes='button-yellow button-dark' />

<div className='bg-white p-4'>
    <Button url='https://twitter.com/naweskil' icon={true} classes='button-white' />
    <Button url='https://twitter.com/naweskil' icon={true} classes='button-pink' />
    <Button url='https://twitter.com/naweskil' icon={true} classes='button-blue' />
    <Button url='https://twitter.com/naweskil' icon={true} classes='button-green' />
    <Button url='https://twitter.com/naweskil' icon={true} classes='button-gray' />
    <Button url='https://twitter.com/naweskil' icon={true} classes='button-yellow' />
</div>
<Button url='https://twitter.com/naweskil' icon={true} classes='button-white button-dark' />
<Button url='https://twitter.com/naweskil' icon={true} classes='button-pink button-dark' />
<Button url='https://twitter.com/naweskil' icon={true} classes='button-blue button-dark' />
<Button url='https://twitter.com/naweskil' icon={true} classes='button-green button-dark' />
<Button url='https://twitter.com/naweskil' icon={true} classes='button-gray button-dark' />
<Button url='https://twitter.com/naweskil' icon={true} classes='button-yellow button-dark' />