@import '../../css/Basic';

.button {
    &:not(.button-dark) {
        &::before { border: 1px solid $black; }
    }

    &-white {
        &::after {
            background-color: $white;
            border: 1px solid $black;
        }
        &:hover::after { border: 1px solid $black; }
    }
    &-pink {
        &::after {
            background-color: $pink;
            border: 1px solid $white;
        }
        &:hover::after { border: 1px solid $black; }
    }
    &-green {
        &::after {
            background-color: $green;
            border: 1px solid $white;
        }
        &:hover::after { border: 1px solid $black; }
    }
    &-gray {
        .text {
            color: $white;
        }
        &::after {
            background-color: $gray;
            border: 1px solid $white;
        }
    }
    &-blue {
        &::after {
            background-color: $blue;
            border: 1px solid $white;
        }
        &:hover::after { border-color: $black; }
    }
    &-yellow {
        &::after {
            background-color: $yellow;
            border: 1px solid $white;
        }
        &:hover::after { border-color: $black; }
    }

    &::before { background-color: transparent; }

    &-dark {
        &::after { border: 1px solid $black; }
        &::before { border: 1px solid $white; }
    }
}