$white: #ffffff;
$gray: #555;
$black: #000;
$green: #ADBA81;
$pink: #FDB5AA;
$yellow: #F6D646;
$blue: #AFF5FA;

.white { color: $white; }
.gray { color: $gray; }
.black { color: $black; }
.green { color: $green; }
.pink { color: $pink; }
.yellow { color: $yellow; }
.blue { color: $blue; }