@font-face {
    font-family: "Apple ][";
    src: url("../../fonts/Apple\ ][.ttf") format("truetype");
}

@font-face {
    font-family: "Redacted Script Regular";
    src: local("RedactedScript-Regular"),
        url("../../fonts/RedactedScript-Regular.ttf") format("truetype");
}

$abuble: 'Redacted Script Regular';
$coding: 'Apple';

.abuble {
    font-family: $abuble;

    &-big {
        font-size: 47px;
        line-height: 47px;

        &:hover {
            font-family: $coding;
            font-size: 20px;
            line-height: 47px;
        }
    }

    &-small {
        font-size: 16px;
        line-height: 16px;

        &:hover {
            font-family: $coding;
            font-size: 8px;
            line-height: 16px;
        }
    }
}