.button {
    position: relative;
    display: block;

    &:hover {
        &::after {
            bottom: -3px;
            right: -3px;
        }
    }

    &-icon {
        text-indent: -9999999px;
        height: $s-5;
        width: $s-5;

        &::after {
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &::after {
        content: '';
        display: block;
        border-radius: 8px;
        height: $s-5;
        width: $s-5;
        position: absolute;
        bottom: 0;
        right: 0;
        border: 1px solid $black;
    }

    &::before {
        content: '';
        display: block;
        border: 1px solid $black;
        border-radius: $s-2;
        height: $s-5;
        width: $s-5;
        position: absolute;
        bottom: -3px;
        right: -3px;
    }

    &.go-link {
        &::after {
            background-color: $white;
            background-image: url('../../images/go-link.png');
        }
        &::before {
            background-color: $white;
        }
    }
}
