.tag {
    background: $white;
    border: 1px solid $black;
    border-radius: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 16px;
    letter-spacing: -0.14em;
    padding: 4px 8px;
}