$white: #f5f5f5;
$lightgray: #999;
$gray: #333;
$darkgray: #1b1b1b;
$black: #111;
$green: #ADBA81;
$pink: #FDB5AA;
$yellow: #F6D646;
$blue: #AFF5FA;
$orange: #E76244;

.white { color: $white; }
.lightgray { color: $lightgray; }
.gray { color: $gray; }
.darkgray { color: $darkgray; }
.black { color: $black; }
.green { color: $green; }
.pink { color: $pink; }
.yellow { color: $yellow; }
.blue { color: $blue; }
.orange { color: $orange; }