@font-face {
    font-family: "Apple ][";
    src: url("../fonts/Apple\ ][.ttf") format("truetype");
}

@font-face {
    font-family: "Redacted Script Regular";
    src: local("RedactedScript-Regular"),
        url("../fonts/RedactedScript-Regular.ttf") format("truetype");
}

$abuble: 'Redacted Script Regular';
$coding: 'Apple';

.abuble {
    font-family: $abuble;
    cursor: zoom-in;

    &-big {
        font-size: 47px;
        line-height: 46px;

        &:hover {
            font-family: $coding;
            font-size: 20px;
            line-height: 46px;
        }
    }

    &-small {
        font-size: 16px;
        line-height: 16px;

        &:hover {
            font-family: $coding;
            font-size: 8px;
            line-height: 16px;
        }
    }
}

.text {
    font-family: $coding;
    font-size: 9px;
    line-height: 16px;
    letter-spacing: -1px;
}

.title {
    font-family: $coding;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -2px;
}