@import './Spacings.scss';

@font-face {
    font-family: "Apple ][";
    src: url("../fonts/Apple\ ][.ttf") format("truetype");
}

@font-face {
    font-family: "Redacted Script Regular";
    src: local("RedactedScript-Regular"),
        url("../fonts/RedactedScript-Regular.ttf") format("truetype");
}

$abuble: 'Redacted Script Regular';
$coding: 'Apple';

.abuble {
    font-family: $abuble;
    cursor: help;

    &-big {
        font-size: 47px;
        line-height: 46px;

        &:hover {
            font-family: $coding;
            font-size: 20px;
            line-height: 46px;
        }
    }

    &-small {
        font-size: 16px;
        line-height: 13px;

        &:hover {
            font-family: $coding;
            font-size: 8px;
            line-height: 16px;
        }
    }
}

.text {
    font-family: $coding;
    font-size: 8px;
    line-height: 18px;
    letter-spacing: -1px;
}

.title {
    font-family: $coding;
    font-size: 13px;
    line-height: 32px;
    letter-spacing: -2px;
}

strong {
    font-weight: regular;
    background-color: $orange;
    color: $black;
    display: inline-block;
    padding: 0 $s-2;
}