@import './Spacings.scss';

.box {
    border-radius: $s-3;
    border: 1px solid $gray;
    overflow: hidden;
}

hr {
    height: 1px;
    background-color: $gray;
    width: 100%;
    margin: $s-4 0;
    box-shadow: none;
    border: none;
}

::-moz-selection { /* Code for Firefox */
    color: $black;
    background: $white;
}

::selection {
    color: $black;
    background: $white;
}

.photo {
    width: 100%;
    height: auto;
    filter: saturate(0%);
    transition: all .2s ease-in-out;
    opacity: .5;

    &:hover {
        cursor: default;
        filter: saturate(100%);
        opacity: 1;
        transform: scale(101%);
    }
}