@import '../../css/Basic';


.sidebar {
    height: 100%;
    @media screen and (min-width: 1024px) {
        &-left {
            border-right: 1px solid $gray;
        }
    
        &-right {
            border-left: 1px solid $gray;
        }
    }
}