@import '../../css/Basic/Basic';
a {
    &:not(.button) {
        color: $white;
        &:hover {
            text-decoration: none;
            cursor: pointer;
            border-bottom: 2px solid $gray;
        }
    }
}